AUTH_TOKEN="eyJhbGciOiJIUzM4NCIsInR5cCI6IkpXVCJ9.eyJ1aWQiOjIyNDQ1NDMsImRhdGEiOnsicm9sZSI6InVzZXIiLCJncm91cCI6MX0sImlhdCI6MTc0NTY5MDI5MywiZXhwIjoxNzQ4MzgwMjkzfQ.zh_fc3T-3YM3mICtEhtVJZIoP0mcdxdZVyKc9fNp6Hu_AB2I-A0ATM6q7nMzHRXt"
BASE_URL="https://apic.theconcert.com/v4/"